body {
  background-color: lightblue;
  font: arial;
  align-content: center;
  padding-left: 550px;
}

#button {
  border-radius: 10%;
  color: blue;
  background-color: gray;
  margin-left: 50px;
}

#app h1 {
  color: slategray;
  text-decoration: underline;
}

#app {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

*{
  margin: auto;
}

.value {
 font-size: 36px;
}
